.why-bg {
  background-image: url("../../assets/images/banner-grow.png");
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
}

.why-content {
  font-family: 'UTM BryantLG';
  font-style: normal;
  color: #FFF;
}

.why-heading {
  font-weight: 700;
  font-size: 56px;
  line-height: 86px;
  text-align: center;
  letter-spacing: -0.02em;
}

.turn-laptop {
  display: none;
}

.why-list {
  margin-top: 20px;

  .why-item {
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: -0.05em;
    margin-bottom: 25px;

    .why-text {
      margin-left: 20px;
    }
  }
}

@media only screen and (min-width: 740px) and  (max-width: 1023px) {
  .why-bg {
    width: 100%;
    height: 384px;
  }

  .why-title {
    font-size: 47px;
  }

  .turn-laptop {
    display: none;
  }

  .why-list {
    margin-left: 30px;

    .why-item {
      font-size: 12px;
      margin-bottom: 15px;

      .why-text {
        margin-left: 10px;
      }
    }
  }

  .why-img {
    width: 310px;
    height: 219px;
    margin-top: 151px;
  }
}

@media (max-width: 739px) {
  .why-title {
    font-size: 40px;
    max-width: 228px;
    line-height: 40px;
    font-weight: 700;
    transform: translate(55%,50%);
    text-align: left;
    font-family: 'UTM BryantLG';
  }

  .turn-laptop {
    display: block;
    position: absolute;
    width: 226.43px;
    height: 226.43px;
    top: -120px;
  }

  .why-list {
    margin-top: 80px;
    text-align: center;

    .why-item {
      font-size: 14px;
    }
  }

  .why-img {
    width: 360px;
    height: 218px;
    margin-left: 15px;
    text-align: center;
  }
}
