.course {
  display: flex;
  justify-content: center;
  position: relative;
}

.card-main {
  margin-top: 20px;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);

  .card-image {
    width: 100%;
    min-height: 215px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px 15px 0 0;

    .card-img-top {
      width: 226px;
      height: 125px;
    }
  }
}

.card-body {
  text-align: center;

  .card-title {
    color: $main-color;
    font-size: 29px;
    font-family: $main-font;
    font-weight: 700;
  }

  .card-text {
    font-size: 14px;
    letter-spacing: -0.05em;
    font-family: $main-font;
    font-weight: 700;
  }
}

.card-left,
.card-center,
.card-right {
  background: $bg-gray;
}

.card-btn {
  width: 200px;
  height: 42px;
  font-family: $main-font;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  color: white;
  background: red;
  border-radius: 22px;
  box-shadow: inset 0 1.5px 2px red;
  border: 0;
  margin-bottom: 20px;
}

.other {
  width: 50%;
  margin-top: 10px;
  margin: auto;
}

.other-title {
  color: black;
  font-family: $main-font;
  font-style: normal;
  font-weight: 700;
  font-size: 80px;
  border-bottom: 6px solid $main-color;
  border-radius: 3px;
}

@media only screen and (max-width: 769px) {
  .card-container {
    .card-main {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .card-image {
        border-radius: 15px 0 0 15px;
      }
    }

    .card-title {
      font-size: 20px;
    }

    .card-text {
      font-size: 14px;
    }
  }

  .other-title {
    font-size: 50px;
  }
}

@media only screen and (max-width: 600px) {
  .card-container {
    .card-main {
      display: flex;
      flex-direction: column;
    }

    .card-image {
      border-radius: 15px 15px 0 0;
    }
  }
}

