.feedback {
  width: 50%;
  margin-top: 10px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.feedback-title {
  color: #11114E;
  font-family: 'UTM BryantLG';
  font-style: normal;
  font-weight: 700;
  font-size: 80px;
  border-bottom: 6px solid $main-color;
  border-radius: 3px;
}

.feedback-text {
  width: 705px;
  height: 71px;
  margin-top: 10px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.feedback-content {
  color: #505353;
  font-family: 'UTM BryantLG';
  font-style: normal;
  font-size: 25px;
  font-weight: 300;
}

.feedback-user {
  text-align: left;
  font-size: 16px;
  font-family: 'UTM BryantLG';
}

.arrow-bottom::before {
  content: "";
  border: 20px solid;
  border-color: rgb(252, 246, 246) transparent transparent transparent;
  position: absolute;
  left: 20px;
  bottom: -40px;
}

.img-user {
  margin: 23px 0 0 28px;
}

.info {
  line-height: 5px;
  top: 30px;
}

.info-name {
  font-size: 20px;
  font-weight: 700;
  font-family: 'UTM BryantLG';
}

.info-language {
  font-size: 16px;
  font-family: 'UTM BryantLG';
}

.slick-slider {
	.slick-prev, 
  .slick-next { 
    position: absolute;
    top: 25%;
    transform: translateY(-25%);
    background-color: #FFFFFF;
    border-radius: 50%;
    border: 0.5px solid #C4C4C4;
    z-index: 2;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: #969494;
  }

  .slick-prev {
    left: 0;
    &::before {
      content: "";
    }
  }

  .slick-next {
    right: 0;
    &::before {
      content: "";
    }
  }
}
