.navbar-nav {
  justify-content: flex-end;
}

.nav-item {
  margin: 0 35px;

  &:hover {
    border-radius: 17px;
    background-color: $main-color;
  }
}

.nav-link {
  &:hover {
    color: #FFFFFF;
  }

  color: #505353;
  font-weight: 600;
}

@media (max-width: 376px) {
  .logo-image {
    width: 150px;
    height: 26.57px;
  }
}
