.navbar-nav {
  justify-content: flex-end;
}

.nav-item {
    margin: 0 35px;
    padding-right: 15px;
    padding-left: 15px;
}

.nav-item:hover {
    border-radius: 17px;
    background-color: $main-color;
}

.nav-link {
    color: #505353 !important;
    font-weight: 600;
}

.nav-link:hover {
    color: white !important;

}

.example {
  display: flex;
  align-items: center;
  min-height: 54vh;
}

@media only screen and (max-width: 740px) {
  .logo-image {
    width: 150px;
    height: 26.75px;
  }

  .banner-heading {
    height: 110px;
    line-height: 30px;
  }

  .col-content {
    bottom: 40px
  }
}
