.navbar-nav {
    justify-content: flex-end;
}

.nav-item {
    margin: 0 35px;
    &:hover {
        border-radius: 17px;
        background-color: #B2D235;
    }
}
.nav-link {
    &:hover {
        color: white !important;
    }
    color: #505353 !important;
    font-weight: 600;
}

.example {
  display: flex;
  align-items: center;
  min-height: 54vh;
}

@media (max-width: 992px) {
	// TODO
}
