// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Font-Awesome
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";

// Variables
@import 'variables';

// Slick
@import '~slick-carousel/slick/slick.scss';
@import '~slick-carousel/slick/slick-theme.scss';

// Variables
@import 'homepage/header';
@import 'homepage/banner';
@import 'homepage/course';
@import 'homepage/why_banner';
@import 'homepage/feedback';
@import 'homepage/member';
@import 'homepage/statistic';
@import 'homepage/footer';
